

    <div class="modal-header">
      <h4 class="modal-title">Thay Đổi Chức Vụ</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Chức vụ mới</p>
   

    <select (change)="selectOption($event.target.value)" class="form-control"  id="cv" required>
      <option  value="">-- Chọn chức vụ --</option>
      <option *ngFor="let cv of chucvus" [value]="cv.maLoai">{{cv.tenLoai}}</option>
    </select>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="luuChucVu()">Lưu</button>
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')">Hủy</button>
    </div>
    
  